<div class="container-fluid bg-danger">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-12 d-flex justify-content-center">

          <div class="dropdown mx-1">
            <button class="btn btn-default btn-sm dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select language
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="dropdown mx-1">
            <button class="btn btn-default btn-sm dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select currency
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>

        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-lg-end justify-content-center">
          <div class="dropdown mx-1">

            <button class="btn btn-default btn-sm dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i> My Account
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>

          <button class="btn btn-sm btn-default text-white"><i class="fas fa-heart"></i> wish List (0)</button>
          <button class="btn btn-sm btn-default text-white"><i class="fa fa-wallet"></i> Wallet</button>
          <button class="btn btn-sm btn-default text-white routerLinkActive=" routerLink="/login"><i class="fa fa-key"></i> Login</button>
          <button class="btn btn-sm btn-default text-white routerLinkActive=" routerLink="/register"><i class="fa fa-key"></i> Register</button>

        </div>
      </div>
    </div>
</div>

<div class="container-fluid bg-dark">
  <div class="container">
    <div class="row p-4">
      <div class="col-lg-4 col-12 text-white d-flex justify-content-center">
        <img src="../../../assets/img/icon.png" height="50px" alt="">
        <img src="../../../assets/img/logo.png" height="50px" alt="">
        <button class="navbar-toggler border-secondary d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div class="col-lg-8 col-12">
        <form class="d-flex justify-content-center align-items-center my-2 my-lg-0">
          <button class="btn bg-white rounded-0 my-2 my-sm-0" type="submit">Search</button>
          <input class="form-control rounded-0 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary  my-2 text-sm" type="submit">shopping cart 0 items - $ 0.00</button>
        </form>
      </div>

    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-auto">
      <a class="nav-item nav-link" href="#">
        <div class="dropdown">
          <a class="btn btn-default text-white btn-sm dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            NEW ARRIVALS
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </a>
      <a class="nav-item nav-link" href="#">
        <div class="dropdown">
          <a class="btn btn-default text-white btn-sm dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SEND A GIFT
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </a>
      <a class="nav-item nav-link" href="#">
        <div class="dropdown">
          <a class="btn btn-default text-white btn-sm dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            TODAYS OFFERS
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </a>
      <a class="nav-item nav-link text-white" href="#">SELL ON CUSHBU</a>
      <a class="nav-item nav-link text-white" href="#">REFFER AND EARN <span class="badge badge-danger">NEW</span></a>
      <a class="nav-item nav-link text-white" href="#">CUSTOMER CARE</a>
    </div>
  </div>
</nav>

